meta[name="twitter:card" content="summary"]
// TODO: check twitter account
meta[name="twitter:site" content="@async_std"]
meta[name="og:url" content=og_url]
meta[name="og:title" content=head_title]
meta[name="og:image" content=og_image]
meta[name="og:description" content=og_description]
